all_wiki.p
small-annotation/node_modules/
backend/__pycache__/
backend/*.json
backend/*.jsonl
backend/*.p
backend/question.pdf
data/
Caddyfile
npm-debug.log
backend/all_wiki.json
backend/wikipedia-index
qanta*.json
*.sqlite3
